[Desktop Entry]
Version=1.0
Type=Link
Name={{item.name}}
Comment=
Icon=network-server
URL=smb://{{item.user}}@{{item.ip}}/
Name[fr_FR.utf8]={{item.name}}
