# Deep blue theme

background		{{ common_ui_color_palette.blue.background }}
foreground		{{ common_ui_color_palette.terminal.foreground }}
cursor			{{ common_ui_color_palette.blue.focus }}
selection_background	{{ common_ui_color_palette.blue.surface_alt }}

color0			{{ common_ui_color_palette.blue.background }}
color1  		{{ common_ui_color_palette.terminal.red }}
color2  		{{ common_ui_color_palette.terminal.green }}
color3  		{{ common_ui_color_palette.terminal.yellow }}
color4  		{{ common_ui_color_palette.blue.focus }}
color5  		{{ common_ui_color_palette.terminal.magenta }}
color6  		{{ common_ui_color_palette.terminal.cyan }}
color7  		{{ common_ui_color_palette.terminal.white }}
color8  		{{ common_ui_color_palette.blue.surface_alt }}
color9  		{{ common_ui_color_palette.terminal.orange }}
color10  		{{ common_ui_color_palette.terminal.muted_green }}
color11  		{{ common_ui_color_palette.terminal.muted_yellow }}
color12  		{{ common_ui_color_palette.blue.focus_light }}
color13  		{{ common_ui_color_palette.terminal.violet }}
color14  		{{ common_ui_color_palette.neutral.muted }}
color15  		{{ common_ui_color_palette.terminal.bright_white }}

selection_foreground	{{ common_ui_color_palette.terminal.foreground }}
