---
- name: "Create X11 config dir"
  ansible.builtin.file:
    path: "/etc/X11/xorg.conf.d"
    state: directory
    mode: "0755"
- name: Blacklist some modules
  ansible.builtin.copy:
    dest: /etc/modprobe.d/{{ item }}.conf
    content: "blacklist {{ item }}\n"
    mode: "0644"
  with_items:
    - pcspkr
    - snd_pcsp
- name: Setup sudoers rules
  ansible.builtin.copy:
    dest: /etc/sudoers.d/ansible
    src: sudoers
    mode: "0440"
- name: Setup X11 compose key
  ansible.builtin.copy:
    dest: /etc/X11/xorg.conf.d/00-keyboard-compose.conf
    src: 00-keyboard-compose.conf
    mode: "0444"
- name: Setup X11 touchpad tapping
  ansible.builtin.copy:
    dest: /etc/X11/xorg.conf.d/00-libinput.conf
    src: 00-libinput.conf
    mode: "0444"
- name: Create SSDM config dir
  ansible.builtin.file:
    path: /etc/sddm.conf.d
    state: directory
    mode: "0755"
- name: Setup SSDM config
  ansible.builtin.copy:
    dest: /etc/sddm.conf.d/02ansible.conf
    src: sddm.conf
    mode: "0444"
