{
  "enableTerminalSandbox": {{ ai_enable_terminal_sandbox | to_json }},
  "toolPermission": "{{ ai_tool_permission }}",
  "nonWorkspaceFileAccess": "{{ ai_non_workspace_file_access }}",
  "internetAccessPolicy": "{{ ai_internet_access_policy }}",
  "artifactReviewMode": "{{ ai_artifact_review_mode }}",
  "colorScheme": "{{ ai_color_scheme }}",
  "enableTelemetry" : false
}
